<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php"
         colors="true"
         verbose="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="VoedselbankTests">
            <directory>.</directory>
        </testsuite>
    </testsuites>
    <php>
        <const name="TESTING" value="true"/>
    </php>
</phpunit>